.bunner_list .tn-atom {
  --t396-speedhover: .2s;
}

.tn-group__24197993711782481240879000001 {
  overflow: hidden;
}

:root {
  --t396-speedhover: .2s;
}


.js-slider-prev:hover .btn_prev .tn-atom,
.js-slider-next:hover .btn_next .tn-atom,
#molecule-1782397520137000012:hover .btn_prev .tn-atom,
#molecule-1782397561317000013:hover .btn_next .tn-atom {
  background-color: #0256b0;
}
.js-slider-prev:hover .sert_btn_prev .tn-atom,
.js-slider-next:hover .sert_btn_next .tn-atom {
  background-color: #fff;
}
.js-slider-prev:active .btn_prev .tn-atom,
.js-slider-next:active .btn_next .tn-atom {
  background-color: #212f79;
}
.js-slider-prev:active .sert_btn_prev .tn-atom,
.js-slider-next:active .sert_btn_next .tn-atom {
  background-color: #fff;
}

#molecule-1783002779863000002 .tn-elem[data-elem-id="1783002779863000004"].chevron_prev_white .tn-atom,
#molecule-1783002779863000006 .tn-elem[data-elem-id="1783002779864000008"].chevron_next_white .tn-atom,
#molecule-1783002779863000002 .tn-elem[data-elem-id="1783002779863000004"].chevron_prev_white .tn-atom,
#molecule-1783002779863000006 .tn-elem[data-elem-id="1783002779864000008"].chevron_next_white .tn-atom,
#molecule-1782397520137000012 .tn-elem[data-elem-id="1782804197123000002"].chevron_prev_white .tn-atom,
#molecule-1782397561317000013 .tn-elem[data-elem-id="1782804121030000001"].chevron_next_white .tn-atom {
  transition: all .2s ease-in-out;
}

#molecule-1783406997164000002:active .tn-elem[data-elem-id="1783406997164000003"].chevron_prev .tn-atom,
#molecule-1783406997164000006:active .tn-elem[data-elem-id="1783406997164000007"].chevron_next .tn-atom,
#molecule-1783406997164000002:hover .tn-elem[data-elem-id="1783406997164000003"].chevron_prev .tn-atom,
#molecule-1783406997164000006:hover .tn-elem[data-elem-id="1783406997164000007"].chevron_next .tn-atom,
#molecule-1783002779863000002:active .tn-elem[data-elem-id="1783002779863000004"].chevron_prev_white .tn-atom,
#molecule-1783002779863000006:active .tn-elem[data-elem-id="1783002779864000008"].chevron_next_white .tn-atom,
#molecule-1783002779863000002:hover .tn-elem[data-elem-id="1783002779863000004"].chevron_prev_white .tn-atom,
#molecule-1783002779863000006:hover .tn-elem[data-elem-id="1783002779864000008"].chevron_next_white .tn-atom,
#molecule-1782397520137000012:hover .tn-elem[data-elem-id="1782804197123000002"].chevron_prev_white .tn-atom,
#molecule-1782397561317000013:hover .tn-elem[data-elem-id="1782804121030000001"].chevron_next_white .tn-atom,
#molecule-1782397520137000012:active .tn-elem[data-elem-id="1782804197123000002"].chevron_prev_white .tn-atom,
#molecule-1782397561317000013:active .tn-elem[data-elem-id="1782804121030000001"].chevron_next_white .tn-atom {
  opacity: 1;
}

.disabled #molecule-1783002779863000002:hover .tn-elem[data-elem-id="1783002779863000004"].chevron_prev_white .tn-atom,
.disabled #molecule-1783002779863000006:hover .tn-elem[data-elem-id="1783002779864000008"].chevron_next_white .tn-atom,
.swiper-button-disabled #molecule-1783406997164000002:hover .tn-elem[data-elem-id="1783406997164000003"].chevron_prev .tn-atom,
.swiper-button-disabled #molecule-1783406997164000006:hover .tn-elem[data-elem-id="1783406997164000007"].chevron_next .tn-atom {
  opacity: 0;
}

#rec2440338951 .tn-elem[data-elem-id="1783406997164000007"].chevron_next,
#rec2440338951 .tn-elem[data-elem-id="1783406997164000003"].chevron_prev,
#rec2436517091 .tn-elem[data-elem-id="1783002779863000004"].chevron_prev_white,
#rec2436517091 .tn-elem[data-elem-id="1783002779864000008"].chevron_next_white,
#rec2430182651 .tn-elem[data-elem-id="1782804197123000002"].chevron_prev_white,
#rec2430182651 .tn-elem[data-elem-id="1782804121030000001"].chevron_next_white {
  z-index: 5;
}

/* .js-slider-prev:active .btn_prev .tn-atom,
.js-slider-next:active .btn_next .tn-atom,
#molecule-1782397520137000012:active .btn_prev .tn-atom,
#molecule-1782397561317000013:active .btn_next .tn-atom {
  background-color: #212f79;
} */

.js-slider-prev:hover .sert_btn_prev .tn-atom,
.js-slider-next:hover .sert_btn_next .tn-atom {
  background-color: #fff;
}
.swiper-button-disabled:active,
.swiper-button-disabled:hover,
.swiper-button-disabled {
  filter: contrast(0.5);
}

.js-slider-prev.disabled .btn_prev .tn-atom,
.js-slider-next.disabled .btn_next .tn-atom,
.js-slider-prev .sert_btn_prev .tn-atom,
.js-slider-next .sert_btn_next .tn-atom,
.js-slider-prev.swiper-button-disabled .sert_btn_prev .tn-atom,
.js-slider-next.swiper-button-disabled .sert_btn_next .tn-atom {
  background-color: transparent;
}

.bunner {
  overflow: hidden;
}

a.tg,
a.whatsapp,
a.mail {
  border-radius: 50%;
  transition: all .3s ease-in-out;
}
a.tg:hover {
  background-color: #2395d0;
}
a.whatsapp:hover {
  background-color: #24cc63;
}
a.mail:hover {
  background-color: #0256b0;
}

.uc-run_row {
  overflow: hidden;
}

.glav_catalog_container {
  display: flex;
  flex-wrap: wrap;
}

#rec2432125021 .tn-group[data-group-id="1782893200648000016"].glav_catalog_container {
  width: 100%;
  max-width: 1605px;
}

.my-product-card:nth-child(even) {
  border-right: 1px solid #212F79;
}
.my-product-card {
  border-bottom: 1px solid #212F79;
}
.my-product-card:last-child {
  border-bottom: none;
}
.my-product-description {
  transition: all .2s ease-in-out;
  opacity: 0;
}
.my-product-description:hover {
  opacity: 1;
}